{include file="public/header"}
<style>
    .gbko{ border-top: #a6c3bd 1px solid; padding: 20px; overflow: hidden;  background: rgba(255,255,255,0.8);}
</style>
<article>
    <h2 class="litle"><span>你，我生命中一个重要的过客，我们之所以是过客，因为你未曾会为我停留。</span>留言</h2>
    <div class="gbko">
        <div id="SOHUCS" ></div>
        <script type="text/javascript">
            (function(){
                var appid = 'cytLkfdXm';
                var conf = 'prod_c677ae66223d8b8c67890f95a142453d';
                var width = window.innerWidth || document.documentElement.clientWidth;
                if (width < 960) {
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>

    </div>
</article>
{include file="public/footer"}
